---
import ExternalLink from '../../ExternalLink.astro'
import BookIcon from '../../icons/Book.astro'
import StarIcon from '../../icons/Star.astro'
import ForkIcon from '../../icons/Fork.astro'

interface Language {
  readonly color: string
  readonly name: string
}

interface Props {
  readonly name: string
  readonly url: string
  readonly description: string
  readonly language: Language
  readonly stargazerCount: number
  readonly forkCount: number
}

const { name, url, description, language, stargazerCount, forkCount } =
  Astro.props
---

<div class='border h-full rounded p-4 flex flex-col'>
  <div class='flex items-center'>
    <BookIcon class='h-4 w-4 mr-2 text-muted-foreground' />

    <ExternalLink href={url} class='!text-primary font-medium hover:underline'>
      {name}
    </ExternalLink>
  </div>

  <p class='text-muted-foreground text-xs mt-2 mb-4'>
    {description}
  </p>

  <div class='mt-auto text-xs flex'>
    <div class='flex items-center mr-4'>
      <span
        style={{
          backgroundColor: language.color
        }}
        class='w-3 h-3 rounded-full relative'></span>
      <span class='pl-2 text-muted-foreground'>
        {language.name}
      </span>
    </div>

    <div class='flex items-center mr-4'>
      <StarIcon class='h-4 w-4 mr-2 text-muted-foreground' />
      <span class='text-muted-foreground'>
        {stargazerCount}
      </span>
    </div>

    <div class='flex items-center'>
      <ForkIcon class='h-4 w-4 mr-2 text-muted-foreground' />
      <span class='text-muted-foreground'>
        {forkCount}
      </span>
    </div>
  </div>
</div>
