---
import Card from './Card.astro'
import type { Experience } from './experience'

interface Props {
  readonly title: string
  readonly data: Experience[]
}

const { title, data } = Astro.props
---

<div>
  <h3
    class='font-bold text-2xl md:text-4xl tracking-tight mb-8 text-black dark:text-white'
  >
    {title}
  </h3>

  <div class='grid md:grid-rows-5 gap-y-8 md:gap-y-4 h-full'>
    {
      data.map((experience) => (
        <Card
          logo={experience.logo}
          title={experience.title}
          company={experience.company}
          companyUrl={experience.companyUrl}
          date={experience.date}
          where={experience.where}
        />
      ))
    }
  </div>
</div>
