---
import Badge from './Badge.astro'
import Card from './Card.astro'
import ExternalLink from './ExternalLink.astro'

interface Experience {
  readonly title: string
  readonly company: string
  readonly description: string
  readonly link: string
  readonly start: string
  readonly end: string
  readonly badges: string[]
}

const EXPERIENCE: Experience[] = [
  {
    title: 'Front-end Engineer',
    company: 'Lookiero',
    link: 'https://www.lookiero.es/',
    start: '2022',
    end: '2024',
    description: '',
    badges: ['Remoto']
  },
  {
    title: 'Software Front-end Developer',
    company: 'Kira Health',
    link: 'https://www.kirawellness.io/',
    start: '2020',
    end: '2022',
    description: '',
    badges: []
  },
  {
    title: 'Co-Organizer',
    company: 'Google Developer Group Bilbao',
    link: 'https://www.linkedin.com/company/gdgbilbao',
    start: '2019',
    end: '2019',
    description: '',
    badges: []
  },
  {
    title: 'Full Stack Developer',
    company: 'S&M Services',
    link: 'https://sm-services.es/',
    start: '2018',
    end: '2019',
    description: '',
    badges: []
  },
  {
    title: 'Full Stack Developer',
    company: 'Inycom',
    link: 'https://www.inycom.es/',
    start: '2017',
    end: '2018',
    description: '',
    badges: []
  },
  {
    title: 'Full Stack Developer',
    company: 'Shackleton',
    link: 'http://shkways.com',
    start: '2017',
    end: '2017',
    description: '',
    badges: ['Prácticas']
  }
]
---

{
  EXPERIENCE.map(({ company, description, end, link, start, title }) => (
    <div class='group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 hover:opacity-100 opacity-80'>
      <header class='z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-muted-foreground sm:col-span-2'>
        {start} — {end}
      </header>
      <div class='z-10 sm:col-span-6'>
        <h3 class='font-medium leading-snug text-foreground'>
          <div>
            <a
              class='inline-flex items-baseline font-medium leading-tight text-foreground hover:text-primary focus-visible:text-primary group/link text-base'
              href={link}
              target='_blank'
              rel='noreferrer'
              aria-label={`${title} at ${company}`}
            >
              <span class='absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block' />
              <span>
                {title} · <span class='inline-block'>{company}</span>
              </span>
            </a>
          </div>
        </h3>
        <p class='mt-2 text-sm leading-normal text-muted-foreground'>
          {description}
        </p>
      </div>
    </div>
  ))
}
