---
interface Props {
  readonly class?: string
}

interface NavLink {
  readonly to: string
  readonly label: string
}

const HOME_ROUTE = '/'

const { pathname } = Astro.url
const isHomeRoute = pathname === HOME_ROUTE

const navLinks: NavLink[] = [
  {
    label: '/inicio',
    to: isHomeRoute ? '#top' : HOME_ROUTE
  },
  {
    label: '/experiencia',
    to: isHomeRoute ? '#experience' : `${HOME_ROUTE}#experience`
  },
  {
    label: '/educación',
    to: isHomeRoute ? '#education' : `${HOME_ROUTE}#education`
  },
  {
    label: '/skills',
    to: isHomeRoute ? '#skills' : `${HOME_ROUTE}#skills`
  },
  {
    label: '/proyectos',
    to: isHomeRoute ? '#projects' : `${HOME_ROUTE}#projects`
  }
]

const { class: className } = Astro.props
---

{
  navLinks.map(({ to, label }) => (
    <a href={to} class:list={['font-mono text-sm', className]}>
      {label}
    </a>
  ))
}
