---
import { ClientRouter } from 'astro:transitions'

interface Props {
  readonly title: string
  readonly description: string
  readonly image: string
  readonly type: string
  readonly date?: string
}

const { title, description, image, type, date } = Astro.props
---

<head>
  <meta charset='UTF-8' />
  <meta name='description' content={description} />
  <meta name='viewport' content='width=device-width' />
  <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
  <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
  <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
  <link rel='shortcut icon' href='/favicon.ico' />
  <meta name='generator' content={Astro.generator} />
  <title>{title}</title>
  <meta property='og:type' content={type} />
  <meta property='og:site_name' content='Alexander Saavedra' />
  <meta property='og:description' content={description} />
  <meta property='og:title' content={title} />
  <meta property='og:image' content={`${import.meta.env.SITE}${image}`} />
  <meta name='twitter:card' content='summary_large_image' />
  <meta name='twitter:site' content='@mralexsaavedra' />
  <meta name='twitter:title' content={title} />
  <meta name='twitter:description' content={description} />
  <meta name='twitter:image' content={`${import.meta.env.SITE}${image}`} />

  <script
    type='application/ld+json'
    is:inline
    set:html={JSON.stringify({
      '@context': 'https://schema.org',
      '@type': 'Person',
      name: 'Alexander Saavedra',
      url: import.meta.env.SITE,
      image: `${import.meta.env.SITE}/banner.png`,
      sameAs: [
        'https://twitter.com/mralexsaavedra',
        'https://github.com/mralexsaavedra',
        'https://www.linkedin.com/in/mralexsaavedra'
      ],
      jobTitle: 'Senior Software Frontend Engineer',
      worksFor: {
        '@type': 'Organization',
        name: 'Lookiero',
        url: 'https://lookiero.es'
      }
    })}
  />
  {date && <meta property='article:published_time' content={date} />}
  <ClientRouter />
</head>
