---
import { ClientRouter } from 'astro:transitions'
import '../assets/global.css'

interface Props {
  readonly title?: string
  readonly description?: string
  readonly image?: string
  readonly type?: string
  readonly date?: string
}

const {
  title = 'Alexander Saavedra – Senior Software Engineer',
  description = 'Software Engineer based in Barakaldo, Bizkaia. Specialized in React, TypeScript, and Scalable Architecture.',
  image = '/banner.png',
  type = 'website',
  date
} = Astro.props
---

<!doctype html>
<html lang='es' class='scroll-py-5 scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <meta property='og:type' content={type} />
    <meta property='og:site_name' content='Alexander Saavedra' />
    <meta property='og:description' content={description} />
    <meta property='og:title' content={title} />
    <meta property='og:image' content={`${import.meta.env.SITE}${image}`} />
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:site' content='@mralexsaavedra' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image' content={`${import.meta.env.SITE}${image}`} />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap'
      rel='stylesheet'
    />
    <script
      type='application/ld+json'
      is:inline
      set:html={JSON.stringify({
        '@context': 'https://schema.org',
        '@type': 'Person',
        name: 'Alexander Saavedra',
        url: 'https://mralexsaavedra.dev',
        image: 'https://mralexsaavedra.dev/banner.png',
        sameAs: [
          'https://twitter.com/mralexsaavedra',
          'https://github.com/mralexsaavedra',
          'https://www.linkedin.com/in/mralexsaavedra'
        ],
        jobTitle: 'Senior Software Frontend Engineer',
        worksFor: {
          '@type': 'Organization',
          name: 'Lookiero',
          url: 'https://lookiero.es'
        }
      })}
    />
    {date && <meta property='article:published_time' content={date} />}
    <ClientRouter />
  </head>
  <body class='font-outfit container w-full max-w-2xl px-4'>
    <main class='space-y-8 py-6 md:py-12'>
      <slot />
    </main>
  </body>
</html>
