---
import SeoHead from '../components/SeoHead.astro'
import '../assets/global.css'

interface Props {
  readonly title?: string
  readonly description?: string
  readonly image?: string
  readonly type?: string
  readonly date?: string
}

const {
  title = 'Alexander Saavedra – Senior Software Engineer',
  description = 'Software Engineer based in Barakaldo, Bizkaia. Specialized in React, TypeScript, and Scalable Architecture.',
  image = '/banner.png',
  type = 'website',
  date
} = Astro.props
---

<!doctype html>
<html lang='es' class='scroll-py-5 scroll-smooth'>
  <SeoHead
    title={title}
    description={description}
    image={image}
    type={type}
    date={date}
  />
  <body class='container w-full max-w-2xl px-4 font-sans'>
    <main class='space-y-8 py-6 md:py-12'>
      <slot />
    </main>
  </body>
</html>
